<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>专题--${site.name}</title>
    <meta name="keywords" content="${site.keywords}">
    <meta name="description" content="${site.remark}">
    <link href="${resServer}/style/default/css/topic.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body>
<header>
    <#include "/common/pc_header_bar.html">
    <#include "/common/pc_search_bar.html">
    <#include "/common/pc_nav_bar.html">
</header>
<section class="main w1200 ma clearfix">
    <section class="w850 fl">
        <div class="nav-block">
            <div class="nav-search">
                <h1>专题专栏</h1>
            </div>
        </div>
        <@specialTopicDirective pageSize="10" seqSort="false" pageable="true">
            <div class="main-block">
                <#list pager.data as item>
                    <div class="res-item">
                        <div class="res-item-img fl">
                            <a href="/topic/id_${item.idStr}.html" target="_blank">
                                <img alt="${item.name}" title="${item.name}" class="lazyimg" src="${resServer}/style/default/blank_1x1.gif" original="${resServer}${item.titleImg}" height="114">
                            </a>
                        </div>
                        <h2 class="res-item-ttl">
                            <a href="/topic/id_${item.idStr}.html" target="_blank">${item.name}</a>
                        </h2>
                        <div class="res-item-desc">${item.summary}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </#list>
            </div>
            <div class="text-center">
                <@pagerMacro pager=pager url=""></@pagerMacro>
            </div>
        </@specialTopicDirective>
    </section>
    <section class="w310 fr">
        <#include "/common/pc_right_1.html">
    </section>
</section>

<!-- 底部 begin -->
<footer>
    <#include "/common/pc_footer.html">
    <#include "/common/pc_to_top.html">
</footer>
<!-- 底部 end -->
</body>
<script type="text/javascript" src="${resServer}/style/default/js/jquery.min.js"></script>
<script type="text/javascript" src="${resServer}/style/default/js/common.js"></script>
</html>