@charset "utf-8";
@import "common.css";
@import "header.css";
@import "footer.css";
@import "comment.css";

.w850 h1{color:#1f1f1f; font-size:24px; font-weight:normal;}

.doc_con{padding: 6px 24px;border: 1px solid #e7e7e7;background-color: #fff;position: relative;margin-bottom: 20px;}
.doc_con_list {margin: 18px 0;}
.doc_con_list span {font-weight: bold;color: #777777;font-size: 14px;margin-right: 10px;}
.doc_con_list label {color: #1a1a1a;font-size: 14px;margin-right: 20px;}
.doc_con_btn {position: absolute;width: 50px;height: 26px;color: #fff;background-color: #3489d0;border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;-webkit-border-radius: 3px;font-size: 13px;bottom: 22px;right: 24px;cursor: pointer;border:0px;}
.doc_con_btn:hover {background-color: #3894e2;}
.doc_item {padding: 20px 24px;border: 1px solid #e7e7e7;background-color: #fff;margin-bottom: 12px;cursor: pointer;}
.doc_item:hover {border: 1px solid #a4c8e7;transition-duration: 400ms;-moz-transition-duration: 400ms;-webkit-transition-duration: 400ms;-o-transition-duration: 400ms;}
.doc_item .doc_item_img {float: left;margin-right: 18px;}
.doc_item .doc_item_img img {width: 136px;height: 106px;}
.doc_item .wt {color: #1a1a1a;font-size: 14px;margin-top: 6px;font-weight: 600;}
.doc_item .wt img {margin-left: 8px;}
.doc_item .wc {color: #333333;font-size: 12px;margin-top:5px;}
.doc_item .wc span {color: #ef3838;}
.doc_item .wc em {float: right;}
.doc_item .wd {color: #9d9d9d;font-size: 12px;line-height: 20px;margin-top: 14px;position: relative;}
.doc_item .wd:before {width: 708px;height: 1px;content: "";background-color: #f0f0f0;position: absolute;right: 0;top: -10px;}

.doc_title {color: #1a1a1a;font-size: 24px;font-weight: normal;}
.doc_title img {margin: 4px 8px 0 0;float: left;}
.doc_inf {color: #666666;font-size: 12px;margin: 12px 0 16px;}
.doc_inf i {color: #d7d7d7;font-size: 12px;margin: 0 14px;}
.doc_des {padding: 12px 22px;border: 1px solid #e0e0e0;background-color: #f5f5f5;color: #999999;line-height: 20px;}
.doc_bottom {margin-top: 28px;text-align: center;}
.doc_btn {display: inline-block;margin-top: 16px;}
.doc_bottom a{width: 100px;height: 38px;font-size: 18px;text-align: center;line-height: 38px;display: inline-block;cursor: pointer;box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-webkit-box-sizing: border-box;border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;-webkit-border-radius: 3px;float: left;}
.doc_bottom .doc_download {color: #fff;background-color: #ef3838;}
.doc_content{height:600px;}


.tag .tag-nav{width:100%; border-bottom:2px solid #e7e7e7; padding-bottom:10px; position:relative;}
.tag .tag-nav h1{font-size: 18px;color:#1a1a1a; font-weight:normal; position:relative; display:inline-block;}
.tag .tag-nav h1:after{content:""; height:2px; width:100%; position:absolute; left:0; bottom:-12px; background-color:#ef3838;}
.tag .tag-nav .change{right:0; bottom:7px; position:absolute; color:#999999; font-size:12px; line-height:14px;}
.tag .tag-nav .change:hover i{-webkit-transform: rotateZ(180deg); -moz-transform: rotateZ(180deg); -o-transform: rotateZ(180deg);-ms-transform: rotateZ(180deg); transform: rotateZ(180deg);}

.issue{margin-top:24px;}
.doc_hot_list {padding: 20px 10px 0px;}
.doc_hot_list li {padding-left: 12px;line-height: 20px;position: relative;}
.doc_hot_list li:before {content: "";position: absolute;left: 0;top: 7px;width: 4px;height: 4px;background-color: #3489d0;border-radius: 100%;-moz-border-radius: 100%;-o-border-radius: 100%;-webkit-border-radius: 100%;}
.doc_hot_list li a {color: #1a1a1a;font-size: 14px;}
