<footer class="aui-bar aui-bar-tab" id="footer" style="border-top:1px solid #ddd; background:#efefef">
    <div class="aui-bar-tab-item aui-active">
        <a href="/index.html">
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-bar-tab-label">首页</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/news/index.html">
            <i class="aui-iconfont aui-icon-like"></i>
            <div class="aui-bar-tab-label">资讯</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/video/index.html">
            <i class="aui-iconfont aui-icon-video"></i>
            <div class="aui-bar-tab-label">视频</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <a href="/picture/index.html">
            <i class="aui-iconfont aui-icon-my"></i>
            <div class="aui-bar-tab-label">图库</div>
        </a>
    </div>
</footer>