<section class="comments" id="comments">
    <h1>评论<span>已有<i class="count">${article.comments} </i>条</span></h1>
    <textarea name="text" placeholder="发表你此时的观点和想法 ……" class="comments-text" id="commentText"></textarea>
    <div class="plfr1 clearfix">
        <div style="float:left;">
            <input name="captcha" type="text" placeholder="验证码" id="captcha" class="captcha">
        </div>
        <div style="float:left;">
            <img id="captchaImg" src="/captcha.svl" onclick="this.src='/captcha.svl?d='+new Date()*1">
        </div>
        <div class="down clearfix">
            <input type="button" value="提交评论" class="submit-on pointer" onclick="Cms.comment.post('${article.idStr}',$('#commentText').val(),$('#captcha').val())">
        </div>
    </div>
</section>
<section class="comments-list">
    <h1><span>热门评论</span></h1>
    <div id="commentsContainer"></div>
    <div class="open-more">
        <a id="moreComments" href="javascript:void(0)" onclick="Cms.comment.load('${article.idStr}',++pageNo)">更多评论</a>
    </div>
</section>