<div class="footerTop">
    <div class="footer_two">
        <ul class="footer_two_ft">
            <li class="ljxs">
                <a href="">农业咨询</a>
                <a href="">新手指南</a><a href="http://127.0.0.1:60/farmer/jiameng.html">平台加盟</a>
                <a href="">关于我们</a><a href="">联系我们</a>
            </li>
            <li class="sm">
                <span>${site.name}</span>
                <span>主办单位：${site.organizer}&nbsp;${site.filingCode}</span>
                <span>版权所有 ${site.copyRightOwner}&nbsp;(${site.webSite})</span>
            </li>
        </ul>
        <div class="footer_two_rig">
            <div class="two_rig">
                <span>客服电话：（周一至周日24小时在线）</span>
                <b>13800138000</b>
                <span>客服邮箱：beishanghr@163.com</span>
                <span>洞庭渔米QQ群：453362202</span>
            </div>
        </div>
    </div>
</div>
<div class="cls"></div>
<div class="cls"></div>
<div class="cls"></div>
<div class="footerBottom">
    <ul>
        <li>
            <div class="fl">
                <a href="http://net.china.com.cn/">
                    <img src="${resServer}/style/default/footer_icon1.gif" width="53" height="37">
                </a>
            </div>
            <div class="fl">
                <a href="" rel="nofollow">不良信息<br>举报中心</a>
            </div>
            <a href="" rel="nofollow"></a>
        </li>
        <a href="" rel="nofollow"></a>
        <li>
            <a href="" rel="nofollow"></a>
            <div class="fl">
                <a href="" rel="nofollow"></a>
                <a href="">
                    <img src="${resServer}/style/default/footer_icon2.gif" width="51" height="37">
                </a>
            </div>
            <div class="fl"><a href="" rel="nofollow">网络安全<br>报警网站</a></div>
        </li>
        <li>
            <div class="fl"><a href="http://www.miibeian.gov.cn/"><img src="${resServer}/style/default/footer_icon3.gif"
                                                                       width="39" height="37"></a></div>
            <div class="fl"><a href="" rel="nofollow">经营性网站<br>备案信息</a></div>
        </li>
        <li>
            <div class="fl"><a href="http://www.bj.cyberpolice.cn/"><img
                            src="${resServer}/style/default/footer_icon4.gif" width="40" height="37"></a></div>
            <div class="fl"><a href="" rel="nofollow">网络110<br>报警服务</a></div>
        </li>
        <li>
            <div class="fl"><a href=""><img src="${resServer}/style/default/footer_icon5.gif" width="47"
                                            height="37"></a></div>
            <div class="fl"><a href="" rel="nofollow">网络安全监测<br>及信用档案</a></div>
        </li>
    </ul>
    <div class="cls"></div>
    <div class="cls"></div>
    <span>${site.copyRight} ${site.webSite} ${site.filingCode}</span>
    <div class="cls"></div>
    <div class="cls"></div>
    <script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2784ba65435d933061c2ec7545b0e1cb' type='text/javascript'%3E%3C/script%3E"));</script>
</div>