<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>注册成功--${site.name}</title>
    <meta name="keywords" content="${site.keywords}">
    <meta name="description" content="${site.remark}">
    <link href="${resServer}/style/default/css/xieyi.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body>
<#include "/common/pc_header_bar.html">
<#include "/common/pc_search_bar.html">
<#include "/common/pc_nav_bar.html">
<div class="mt10 w1200 ma oh clearfix">
    <section class="register_txt mt50 mb15">
        <span>
            <p class="oh fl"><img align="left" src="${resServer}/style/default/success_icon.gif"/></p>
            <p class="fl mt20">您的账户尚未激活!请查收您的邮箱完成最后一步账号验证.</p>
            <p class="fl">如长时间未收到邮件可点击进行重发 <input id="resendBtn" type="button" value="重新发送邮件" onclick="Cms.login.resendActiveMail('${userName}')"></p>
        </span>
    </section>
</div>
<!-- 底部 begin -->
<footer>
    <#include "/common/pc_footer.html">

    <!-- 返回顶部 begin -->
    <#include "/common/pc_to_top.html">
    <!-- 返回顶部 end -->
</footer>
<!-- 底部 end -->
</body>
<#include "/common/script-res.html">
<script type="text/javascript" src="${resServer}/style/default/js/login.js"></script>
</html>