<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>协议--${site.name}</title>
    <meta name="keywords" content="${site.keywords}">
    <meta name="description" content="${site.remark}">
    <link href="${resServer}/style/default/css/xieyi.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body>
<#include "/common/pc_header_bar.html">
<#include "/common/pc_search_bar.html">
<#include "/common/pc_nav_bar.html">
<div class="mt10 w1200 ma oh clearfix">
    <pre class="xieyi_txt">
        一、总则
        用户在使用北商网提供的各项服务之前，应仔细阅读本服务协议，如用户不同意本服务协议，可以主动取消北商网提供的服务；一旦使用北商网提供的服务，并成为北商网的用户，即视为用户已了解并完全同意本服务协议各项内容，包括北商网对服务协议随时所做的任何修改。
        1、	用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中勾选“同意接受用户服务协议”即表示用户与北商网达成协议，完全接受本协议的全部条款。
        2、	用户注册成功后，北商网将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。
        3、	用户可以使用其授权范围内的北商网各个单项服务，当用户使用北商网各单项服务时，用户的使用行为视为其对该单项服务的服务条款以及北商网在该单项服务中发出的各类公告的同意。
        4、	北商网用户服务协议以及各单项服务条款和公告可由北商网随时更新，且无需另行通知。用户在使用相关服务时，应关注并遵守其所适用的相关条款。

        二、注册信息和隐私保护
        1、	用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽、准确的要求。所有原始键入的资料将引用为注册资料。如果因注册信息不真实而引起的问题，对问题发生所带来的后果，北商网将不负任何责任。
        2、	用户不应将其帐号、密码转让或出借给他人使用。如用户发现其帐号遭他人非法使用，应立即通知北商网。由于用户自己对帐号的不安全操作或使用所造成的一切纠纷和后果，北商网不承担任何责任。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，北商网不承担任何责任。
        3、	北商网不对外公开或向第三方提供单个用户的注册资料，除非：
        （ 1 ）事先获得用户的明确授权；
        （ 2 ）只有透露用户的个人资料，才能提供用户所要求的产品和服务；
        （ 3 ）根据有关的法律法规要求；
        （ 4 ）按照相关政府主管部门的要求；
        （ 5 ）为维护北商网的合法权益。
        4、	在用户注册北商网帐户，使用其他北商网产品或服务，访问北商网网页 , 或参加促销和推广活动时，北商网会收集用户的个人身份识别资料，并会将这些资料用于改进为用户提供的服务及网页内容。

        三、使用规则
        1、	用户在使用北商网服务时，必须遵守中华人民共和国相关法律法规的规定，用户应同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶
        1)	上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：
        a ） 反对宪法所确定的基本原则的；
        b ） 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        c ） 损害国家荣誉和利益的；
        d ） 煽动民族仇恨、民族歧视、破坏民族团结的；
        e ） 破坏国家宗教政策，宣扬邪教和封建迷信的；
        f ） 散布谣言，扰乱社会秩序，破坏社会稳定的；
        g ） 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        h ） 侮辱或者诽谤他人，侵害他人合法权利的；
        i ） 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
        j ） 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的； 为任何非法目的而使用网络服务系统；
        2)	利用北商网服务从事以下活动：
        a) 未经允许，进入计算机信息网络或者使用计算机信息网络资源；
        b) 未经允许，对计算机信息网络功能进行删除、增加或者修改；
        c) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、增加或者修改；
        d) 故意制作、传播计算机病毒等破坏性程序；
        e) 其它危害计算机信息网络安全的行为。
        2、	如用户在使用网络服务时违反任何上述规定，北商网或其授权人/单位有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用网络服务的权利）以减轻和消除用户不当行为造成的影响。
        3、	用户必须对自己在使用北商网服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在北商网首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予北商网等额的赔偿。

        五、纠纷处理规则
        （一）总则
        1.	北商网作为一个网络交易平台，处理投诉的原则是公平，公正，公开。
        2.	提交北商网的投诉，北商网需要交易双方提供包括(但不限于)交易证明、支付证明、图片、双方沟通的文字记录、产品说明以及其他相关证据，交易双方任何一方采取拒不配合态度者，北商网将做出有利于交易另一方的仲裁。
        八、 其它 1.	本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。
        2.	如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向北商网所在地的人民法院提起诉讼。
        3.	北商网未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍有效并且有约束力。
    </pre>
</div>
<!-- 底部 begin -->
<footer>
    <#include "/common/pc_footer.html">

    <!-- 返回顶部 begin -->
    <#include "/common/pc_to_top.html">
    <!-- 返回顶部 end -->
</footer>
<!-- 底部 end -->
</body>
<#include "/common/script-res.html">
</html>