<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>${article.articleExt.title}--${site.name}</title>
    <meta name="keywords" content="${article.articleExt.keywords???then(article.articleExt.keywords,site.keywords)}">
    <meta name="description" content="${article.articleExt.description???then(article.articleExt.description,site.remark)}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <link rel="stylesheet" href="${resServer}/style/default/css/mobile.css"/>
</head>
<body>
<#include "/common/mobile_header_bar.html"/>
<article>
    <h1 class="title">${article.articleExt.title}</h1>
    <div class="times">
        <span>${article.articleExt.postDate?string("yyyy-MM-dd")}</span><span>${article.articleExt.origin} </span><span>编辑：${article.articleExt.author}</span>
    </div>
    <div class="article-content">
        ${article.articleTxt.txt}
    </div>
</article>
<#include "/common/mobile_avow_bar.html">
<#if article.comment>
    <#include "/common/mobile_comment.html">
</#if>
<#include "/common/script-res.html">
<script type="text/javascript" src="${resServer}/style/default/js/mobile.js"></script>
<#if article.comment>
    <script type="text/javascript">
        var pageNo=1;
        Cms.mobile.loadComments("${article.idStr}",pageNo);
    </script>
</#if>
</body>
</html>