<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>给我们留言--${site.name}</title>
    <meta name="keywords" content="${channel.keywords???then(channel.keywords,site.keywords)}">
    <meta name="description" content="${channel.summary???then(channel.summary,site.remark)}">
    <link href="${resServer}/style/default/css/guestbook.css" type="text/css" rel="stylesheet" media="screen">
</head>
<body>
<header>
    <#include "/common/pc_header_bar.html">
    <#include "/common/pc_search_bar.html">
    <#include "/common/pc_nav_bar.html">
</header>
<section class="main w1200 ma clearfix">
    <#include "/guestbook/pc_guestbook.html">
    <section class="w310 fr">
        <#include "/common/pc_right_1.html">
    </section>
</section>

<!-- 底部 begin -->
<footer>
    <#include "/common/pc_footer.html">
    <#include "/common/pc_to_top.html">
</footer>
<!-- 底部 end -->
</body>
<#include "/common/script-res.html">
<script type="text/javascript" src="${resServer}/style/default/js/guestbook.js"></script>
<script>Cms.guestbook.load()</script>
</html>