<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>图库--${site.name}</title>
    <meta name="keywords" content="${channel.keywords???then(channel.keywords,site.keywords)}">
    <meta name="description" content="${channel.summary???then(channel.summary,site.remark)}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <link rel="stylesheet" href="${resServer}/style/default/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="${resServer}/style/default/css/mobile.css"/>
</head>
<body>
<!-- 头部信息 begin -->
<#include "/common/mobile_search_bar.html"/>
<div class="swiper-container swiper1 b-line" style="padding-top: 44px;position: fixed;z-index: 998;">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="/${channel.path}/index.html" class="selected">推荐</a></div>
        <@channelListDirect display="true" parentId="${channel.id}">
            <#list list as c>
                <div class="swiper-slide"><a href="/${c.path}/list.html">${c.name}</a></div>
            </#list>
        </@channelListDirect>
    </div>
</div>
<!-- 头部信息 end -->

<!-- 内容信息 begin -->
<div class="swiper-container swiper2" style="padding-top:85px; padding-bottom:49px;">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-no-swiping">
            <!--推荐视频 begin-->
            <@articleDirective status="2" pageSize="20" channelId="${channel.id}" recommendLevelSort="false">
                <#list list as item>
                    <section class="aui-middle-dome">
                        <a href="/${item.channelPath}/id_${item.idStr}.html" class="aui-middle-dome-a">
                            <h3 class="aui-title-h3">${item.title}</h3>
                            <div class="aui-title-img">
                                <img src="${resServer}/${item.titleImg???then(item.titleImg,'/style/default/nopic_middle.png')}">
                            </div>
                            <div class="aui-title-text clearfix">
                                <span class="aui-ban">${item.channelName}</span>
                                <span class="aui-zan"><i></i>${item.comments}</span>
                                <span class="aui-lun"><i></i>${item.ups}</span>
                            </div>
                        </a>
                    </section>
                </#list>
            </@articleDirective>
            <!--推荐视频 end-->
        </div>
    </div>
</div>
<!-- 内容信息 end -->
<#include "/common/mobile_footer.html"/>
<#include "/common/mobile_script-res.html">
<script type="text/javascript" src="${resServer}/style/default/swiper/swiper.min.js"></script>
<script type="text/javascript" src="${resServer}/style/default/js/mobile.js"></script>
<script type="text/javascript">
    $(function () {
        var swiper1 = new Swiper('.swiper1', {
            slidesPerView: 5,
            paginationClickable: true,
            spaceBetween: 1,
            freeMode: true,
            loop: false
        });
    });
</script>
</html>