<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>${channel.name}--${site.name}</title>
    <meta name="keywords" content="${channel.keywords???then(channel.keywords,site.keywords)}">
    <meta name="description" content="${channel.summary???then(channel.summary,site.remark)}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <link rel="stylesheet" href="${resServer}/style/default/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="${resServer}/style/default/css/mobile.css"/>
</head>
<body>
<!-- 头部信息 begin -->
<#include "/common/mobile_search_bar.html"/>
<div class="swiper-container swiper1 b-line" style="padding-top: 44px;position: fixed;z-index: 998;">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="/${channel.parent???then(channel.parent.path,channel.path)}/index.html">推荐</a></div>
        <@channelListDirect display="true" parentId="${channel.parentId}">
            <#list list as c>
                <div class="swiper-slide">
                    <a href="/${c.path}/list.html" class="${(channel.id==c.id)?then('selected','')}">${c.name}</a>
                </div>
            </#list>
        </@channelListDirect>
    </div>
</div>
<!-- 头部信息 end -->

<!-- 内容信息 begin -->
<div style="padding-top:84px;padding-bottom:49px;" id="newsContainers">
    <#include "/search/mobile_ajax_list.html">
</div>
<!-- 内容信息 end -->
<div class="loading">
    <img src="${resServer}/style/default/ajax-loader.gif">
    正在努力加载 ..
</div>
<#include "/common/mobile_footer.html"/>
<#include "/common/script-res.html">
<script type="text/javascript" src="${resServer}/style/default/swiper/swiper.min.js"></script>
<script type="text/javascript" src="${resServer}/style/default/js/mobile.js"></script>
<script type="text/javascript">
    $(function () {
        new Swiper('.swiper1', {slidesPerView: 5, paginationClickable: true, spaceBetween: 1, freeMode: true, loop: false});
        Cms.mobile.loadMore("${channel.path}");
    });
</script>
</html>